.grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    margin: 20px;
    background-color: rgba(222, 226, 230, 0.10);
    grid-gap: 1px;
    border: 1px solid rgba(222, 226, 230, 0.10);
}

.cell {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #212529;
}

.miss {
    background-color: cyan;
}

.hit {
    background-color: red;
}

.sunk {
    background-color: blue;
}