.board-button {
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-background-radius: 0;
    -fx-background-color: #00ceff;
}

.ship-button {
    -fx-background-color: #4d4d4d;
}

.hit-button {
    -fx-background-color: #FF0000;
}

.sunk-button {
    -fx-background-color: #000103;
}

.miss-button {
    -fx-background-color: #FFFFFF;
}